body{
margin:0;
font-family:Arial;
background:#f9f7f2;
}

header{
text-align:center;
padding:30px;
background:#f2e7dc;
}

.logo{
width:180px;
border-radius:50%;
}

.insta{
background:#E1306C;
color:white;
padding:10px 20px;
text-decoration:none;
border-radius:8px;
}

.about{
padding:30px;
text-align:center;
}

.title{
text-align:center;
}

.products{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
padding:20px;
}

.card{
width:280px;
background:white;
padding:15px;
border-radius:15px;
box-shadow:0 0 10px gray;
text-align:center;
}

.card img{
width:100%;
border-radius:10px;
}

button{
background:#8B4513;
color:white;
padding:10px 20px;
border:none;
border-radius:8px;
cursor:pointer;
}

.order{
padding:30px;
text-align:center;
}

form{
display:flex;
flex-direction:column;
width:350px;
margin:auto;
gap:10px;
}

input,
textarea{
padding:10px;
}

.payment{
text-align:center;
padding:30px;
}

.qr{
width:250px;
}

.reviews{
padding:30px;
text-align:center;
}

.review{
background:white;
padding:15px;
margin:10px auto;
width:300px;
border-radius:10px;
}

.owner{
padding:30px;
text-align:center;
}

footer{
background:#8B4513;
color:white;
text-align:center;
padding:10px;
}